.navbarVertical {
  position: fixed;
  width: 68px;
  left: 0px;
  top: 0px;
  background: #2F3136;
  color: white;
  height: 100vh;
  margin-right: 50px;
  z-index: 1000;
}

.logo {
  margin: 20px 11px;
}

.MuiDialog-paperWidthSm {
  width: 400px;
}

.MuiButton-root {
  text-transform: capitalize !important;
}